.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial, sans-serif;
  text-shadow: 0 0 5px #000;
  position: fixed;
  top: -10%;
  z-index: 9999;
  user-select: none;
  cursor: default;

  animation-name: snowflakes-fall, snowflakes-shake;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
}

@keyframes snowflakes-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}

@keyframes snowflakes-shake {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(80px);
  }
}

.snowflake:nth-of-type(1) {
  left: 5%;
  animation-duration: 12s, 4s;
  animation-delay: 0s, 1s;
}

.snowflake:nth-of-type(2) {
  left: 15%;
  animation-duration: 10s, 3s;
  animation-delay: 2s, 0s;
}

.snowflake:nth-of-type(3) {
  left: 25%;
  animation-duration: 8s, 2.5s;
  animation-delay: 1s, 2s;
}

.snowflake:nth-of-type(4) {
  left: 35%;
  animation-duration: 11s, 3.5s;
  animation-delay: 0.5s, 1.5s;
}

.snowflake:nth-of-type(5) {
  left: 45%;
  animation-duration: 9s, 3s;
  animation-delay: 1.5s, 0.5s;
}

.snowflake:nth-of-type(6) {
  left: 55%;
  animation-duration: 13s, 4s;
  animation-delay: 0.2s, 1.2s;
}

.snowflake:nth-of-type(7) {
  left: 65%;
  animation-duration: 10s, 2.8s;
  animation-delay: 1s, 0s;
}

.snowflake:nth-of-type(8) {
  left: 75%;
  animation-duration: 9s, 3.1s;
  animation-delay: 0.8s, 1.3s;
}

.snowflake:nth-of-type(9) {
  left: 85%;
  animation-duration: 14s, 3.5s;
  animation-delay: 0.5s, 0.5s;
}

.snowflake:nth-of-type(10) {
  left: 95%;
  animation-duration: 8s, 2.7s;
  animation-delay: 1.2s, 0.7s;
}

.snowflake:nth-of-type(11) {
  left: 50%;
  animation-duration: 15s, 3s;
  animation-delay: 1s, 0.2s;
}

.snowflake:nth-of-type(12) {
  left: 20%;
  animation-duration: 11s, 3.8s;
  animation-delay: 0.7s, 0.8s;
}
